body {
    background-color: #333;
}

.controller {
    background-color: #333;
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px;
}


input[type="text"] {
    font-size: 28px; 
    width: 25em; 
}
#Reaction0 { font-size: 26px; }
#Reaction1 { font-size: 26px; }
#Reaction2 { font-size: 26px; }
#Reaction3 { font-size: 26px; }
#Reaction4 { font-size: 26px; }
#Reaction5 { font-size: 26px; }
#ModelChange{ font-size: 22px; }
#AutoReaction{ font-size: 22px; }
#Submit{ font-size: 22px; }
#ReactionStop{ font-size: 22px; }